html {
	font-size: 10px;
	font-family: $serifFont;
}

body {
	margin:0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $sansFont;
	margin:0;
}

h1 {
	font-family: $scriptFont;
}

h2 {
	text-align: center;
	font-size: 1.8rem;
}

p {
	font-size:1.4rem;
}

a {
	transition: 0.3s all ease;
}

img {
	max-width: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.stuck {
	background: $navBg;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
}

// section {
// 	// padding: 60px 0;
// }

.hidden {
	display: none;
}

.wrapper {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.flexContainer {
	display:flex;
	align-items:center;
}