$black: black;
$grey: lightgrey;
$white: white;
$navBg: black;
$navColor: white;
$hoverColor: yellow;
$buttonColor: gold;

$sansFont: 'Montserrat', sans-serif;
$serifFont: 'Arvo', serif;
$scriptFont: 'Special Elite', cursive;