article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@import 'variables';
@import 'base';
@import 'mixins';

nav {
	background: $navBg;
	position: absolute;
	width: 100%;
	top: 100%;
	z-index: 10;
}

ul.navLinks {
	display: flex;
	flex: 1 1 70%;
	flex-direction:row;
	text-transform: uppercase;
	font-family: $sansFont;
	font-size: 1.1rem;
	li {
		display: flex;
		align-items: center;
		padding-right:30px;
		a {
			color: $navColor;
			text-decoration: none;
			padding: 10px 0px;
			margin:10px 0;
			border-bottom: 2px solid $navBg;
			&:hover {
				color: $hoverColor;
				border-bottom: 2px solid $hoverColor;
			}
		}
	}
}

ul.socialLinks {
	display:flex;
	flex: 1 1 30%;
	flex-direction:row-reverse;
	text-transform: uppercase;
	font-family: $sansFont;
	font-size: 1.4rem;
	li {
		display: flex;
		align-items: center;
		padding-left:15px;
		a {
			color: $navColor;
			text-decoration: none;
			padding: 10px 5px;
			margin:10px 0;
			border-bottom: 2px solid $navBg;
			&:hover {
				color: $hoverColor;
				border-bottom: 2px solid $hoverColor;
			}
		}
	}
}

header {
	height:100vh;
	display:flex;
	background: linear-gradient(45deg, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
	.logo{
		margin:auto;
		h1 {
		text-transform: lowercase;
		letter-spacing: 0.2rem;
		text-align:center;
		color:#F2F2F2;
		font-size:10rem;
		}
		// button {
		// 	@include button($buttonColor);
		// }
	}
}

section {
	.title {
		width:100%;
		h2 {
			color:$black;
			padding:80px 0 20px 0;
			font-size:3.6rem;
		}
	}
}


.flexGallery {
	display:flex;
	flex-wrap:wrap;
	figure.col-3-3 {
		flex:1 1 100%;
	}
	figure.col-1-2 {
		flex:1 1 50%;
	}
	figure.col-1-3 {
		flex:1 1 33.33%;
	}
	figure {
		position:relative;
		padding:30px 30px 0 30px;
		&:hover figcaption {
			display:flex;
		}
		img {
			display:block;
		}
		figcaption {
			display:none;
			position:absolute;
			width:250px;
			top:30px;
			left:30px;
			bottom:0;
			background:rgba(218,165,32,0.7);
			p {
				color:$black;
				font-family:$sansFont;
			}
			p.category {
				color:$white;
			}
			div {
				margin:5%;
				padding:5% 0 0 0;
			}
		}
	}
}